 /* nav{
        			font-size: 24px;
        			text-align: center;
        			color:#480808;
        		}*/
        		body{
        			text-align: center;
        		 	font-family: sans-serif;
        		}
        		p{
        			font-size: 18px;
                    width: 50%;
                    margin-right: 25%;
                    margin-left: 25%;

        		}
        		img{
        			 height: 266px;
        			 width: 400px;
        		}
        		ul{
        			 display: inline;
        			 font-size: 25px;
        		}
        		/*div{
        			 height: 50px;
        			 margin-right: auto;
        			 margin-left: auto;
        		}*/
                .navheader
                    {
                        background: #b3d9ff;
                        height: 50px;
                        display:flex;
                        border-radius: 25px 25px 0px 0px;
                    }
                .navdiv
                    {
                        margin:auto;
                    }
                .navbar
                    {
                        list-style-type: none;
                        display:flex;
                    }
                .navbar-link
                    {
                        color: #878787;
                        font-size: 24px;
                        padding: 10px;
                        text-align: center;
                    }
                .header
                    {
                    height: 120px;
                    font-size: 4em;
                    text-shadow: 1px 1px 1px grey;
                    color: #D2691E;
                    background-image: url("FinalImgs/04_Clough-State-Park.jpg");
                    }
                  /*.card
                    {
                        width: 100%;
                        padding: 20px;
                        text-align: center;
                        border:solid;
                        border-radius: 10px;
                        margin: 10px;
                        background-color: red;
                    }*/

                    .flex-container
                    {
                        display:flex;
                        width: 80%;
                        margin: auto;
                    }